@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200;1,300;1,600&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efe8e4;
    text-decoration: none;
    color: #333;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden; 
}

.main-image {
    background-image: url('dinnerSetup11.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px; 
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-image p {
    color: #efe8e4;
    font-family: "Alice", serif;
    font-size: 3em;
    width: 60%;
    margin-top: 30px;  
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efe8e4;
    padding: 20px 40px;
}

.about-image {
    background-image: url('grupa1.jpg'); 
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.about-image-2 {
    background-image: url('flirting.jpg'); 
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.about-image-3 {
    background-image: url('chefprep.jpg'); 
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.about-text {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
}

.about-text h2 {
    font-family: "Alice", serif;
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.about-text p {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    color: #333;
    padding-right: 30px;
}

.venue {
    display: flex;
    width: 100%;
    height: 53vh;
}

.venue-grid {
    display: grid;
    grid-template-columns: repeat(3, 20vh);
    grid-template-rows: repeat(2, 20vh);
    gap: 10px;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    margin-left: 30px; 
}

.venue-box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    width: 20vh;
}

.venue-box img {
    width: fit-content;
}

.venue-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    margin: 0 auto; 
}

.venue-text p {
    font-family: "Alice", serif;
    font-size: 2em;
    color: #333;
}

.footer {
    background-color: #efe8e4;
    color: #333;
    padding: 20px 0;
    text-align: center;
    font-family: "Alice", serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-family: "Alice", serif;
}

.footer-section a {
    color: #333;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #333;
    padding: 10px;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        padding: 20px 10px;
    }

    .about-text {
        width: 80%;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    .about-image {
        width: 100%;
        height: 300px;
    }

    .about-image-2 {
        width: 100%;
        height: 300px;
        order: 1;
    }

    .about-image-3 {
        width: 100%;
        height: 300px;
        order: 1;
    }

    .about-text p {
        font-size: 1em;
        margin-left: 25px;
    }

    .main-image {
        width: 100%;
        height: 700px;
        background-attachment: scroll;
    }

    .venue {
        flex-direction: column;
    }

    .venue-grid {
        grid-template-columns: repeat(2, 20vh);
        grid-template-rows: repeat(2, 20vh);
        width: 100%;
        padding-left: 20px;
        order: 2;
    }

    .venue-text {
        width: 100%;
        padding: 20px;
        margin: 0 auto; 
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer {
        overflow-x: hidden;
        margin-top: 50vh;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-section:last-child {
        margin-bottom: 0;
    }
    
    .footer-section h3 {
        font-size: 1.3em;
    }

    .footer-section p,
    .footer-section ul,
    .footer-section li {
        font-size: 1em;
        
    }

    .footer-bottom {
        padding: 5px;
        font-size: 0.8em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
