@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200;1,300;1,600&family=Sofia&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efe8e4;
    text-decoration: none;
    color: #333;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3e2d8; /* sand beige background */
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    color: #333;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-item a:hover {
    color: #797979;
}

.main-image {
    background-image: url('dinnerSetup11.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px; /* Add margin to avoid overlap with fixed navbar */
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4e1d2;
    padding: 40px 20px;
}

.about-image {
    background-image: url('coctail.jpg'); /* Replace with the actual image path */
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.about-text {
    text-align: center;
    margin-left: 20px;
    width: 50%;
}

.about-text h2 {
    font-family: "Sofia", cursive;
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.about-text p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    color: #333;
}

@media (max-width: 768px) {
    .menu-button {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border-radius: 4px;
    }
    .hamburger-menu {
        width: 30px;
        height: 3px;
        background: #333;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    .hamburger-menu::before,
    .hamburger-menu::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: #333;
        transition: all .5s ease-in-out;
        border-radius: 4px;
    }

    .hamburger-menu::before {
        transform: translateY(-10px);
    }

    .hamburger-menu::after {
        transform: translateY(10px);
    }

    .menu-button.open .hamburger-menu {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    } 

    .menu-button.open .hamburger-menu::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-button.open .hamburger-menu::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .nav-list {
        position: fixed;
        right: 0;
        top: 60px;
        background-color: #f4e1d2;
        width: 100%;
        height: 80vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .nav-list.active {
        display: flex;
        opacity: 1;
        animation: fadeIn 0.5s ease-in-out forwards;
    }

    .nav-list.fade-out {
        display: flex;
        opacity: 0;
        animation: fadeOut 1s ease-in-out forwards;
    }

    .nav-item {
        margin: 20px 0;
    }

    .menu-button {
        display: flex;
    }

    .about-section {
        flex-direction: column;
        padding: 20px 10px;
    }

    .about-image, .about-text {
        width: 100%;
    }

    .about-image {
        height: 300px;
    }

    .about-text p {
        font-size: 1em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
